<br><br><br>
<div style="text-align: center;"><h1>Introdução:</h1> <br>
<h4>Você já ficou com vontade de ouvir músicas baseado na temperatura da sua cidade?</h4> <br>
<h4>Seus problemas acabaram! Acesse já nossa aba de pesquisa e procure sua cidade, iremos te indicar 5 músicas baseado na temperatura da cidade selecionada!</h4>
<br>
<h4>Voce também pode salvar as informações de pesquisa da cidade desejada, clicando no botão de salvar após pesquisar a cidade...</h4> <br>
<h4>E caso você nao queira mais aquela cidade salva, você pode clicar no botão de excluir, apagando a cidade selecionada...</h4>
<br><br>
<h4>Aproveite nosso sistema e divirta-se! </h4>
</div>