<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body style="background-image: url('assets/img/city2.jpg');background-attachment :fixed;">
    <div style="margin-left:1%">
        <h1 class="content" style="text-align: center; color: white; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-top: 0;">Sistema de pesquisa</h1>

        <a style="font-size: 40px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="btn btn-dark" href="pesquisa">Pesquisar</a>
        &nbsp;
        <a style="font-size: 40px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="btn btn-dark" href="listagem">Lista</a>
        </div>

 <br>


<router-outlet></router-outlet>


</body>


