<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('assets/img/city2.jpg');background-attachment :fixed;">
    <h1 class="content" style="text-align: center; color: white;">Sistema de pesquisa</h1>

<nav><ul>
    <li><a style="font-size: 40px;" href="pesquisa">Pesquisar</a></li>

    <li><a style="font-size: 40px;" href="listagem">Lista</a></li>

</ul></nav>

<router-outlet></router-outlet>

</body>
</html>
