<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body style="background-image: url('assets/img/city2.jpg');background-attachment :fixed;">
    <h1 class="content" style="text-align: center; color: white;">Sistema de pesquisa</h1>

<nav><ul>
    <li><a style="font-size: 40px;" href="pesquisa">Pesquisar</a></li>

    <li><a style="font-size: 40px;" href="listagem">Lista</a></li>

</ul></nav>

<router-outlet></router-outlet>

</body>

