#divWeatherMain{
    display: solid;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin: auto;
    flex-direction: column;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(56, 56, 56));
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

#form button {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.weatherWidgetRow{
    display: block;
    margin: 0 auto;
    width: fit-content;

}